.container {
  padding: 2rem;
}

.page_header {
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
}
.no_notes_message{
  font-size: 1.6rem;
  text-align: center;
  font-weight: lighter;
}

.notes_list_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2rem;
  max-width: 100%;

  .notes_item {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 10px;

    background-color: #fff;
    transition-duration: 500ms;

    &:hover{
      background-color: #ddd;
      transition-duration: 500ms;
    }

    h2{
      font-size: 1.3rem;
      font-weight: normal;
      margin: 0 0 0.5rem 0;
    }

    p{
      max-lines: 3;
    }
  }

}
